body{
margin:0;
font-family:Arial,sans-serif;
background:#f4fff4;
}

header{
background:#228B22;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#2e8b57;
padding:10px;
text-align:center;
}

nav a{
color:white;
text-decoration:none;
margin:15px;
font-weight:bold;
}

.hero{
padding:50px 20px;
text-align:center;
}

.hero h1{
font-size:40px;
color:#006400;
}

.hero p{
font-size:20px;
}

.search{
margin-top:20px;
}

.search input{
padding:12px;
width:70%;
max-width:400px;
border-radius:25px;
border:1px solid #999;
}

.btn{
padding:12px 20px;
background:#228B22;
color:white;
border:none;
border-radius:25px;
cursor:pointer;
}

.cards{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.card{
background:white;
width:250px;
padding:15px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

footer{
background:#228B22;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}

.profile{
width:140px;
height:140px;
border-radius:50%;
border:4px solid white;
object-fit:cover;
margin-bottom:15px;
}
